body{
    background-color: linear-gradient(135deg, rgba(0,255,16,1), rgba(105,9,121,1));
}
a{
    text-decoration: none;
    text-align: right;
}

.box{
    height: auto;
    padding: 2% 0;
    /* display: flex;
    justify-content: center;    
    align-items: center; */
    border: 1px solid black;
    border-radius: 8px;
}
form{
    text-align: left; 
}
.login-heading{
    opacity:0.7;
    width: 100%; 
    font-size: 2em;
    text-align: center;
}
hr{
    width: 80%;
    margin: 2% auto;
}
.input-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-head{
    font-size:1.2em;
    text-align: left;
    height: auto;
}
input{
    border: 1px solid black;
    border-radius: 8px;
    height: 24px;
    text-align: center;
}
select{
    border: 1px solid black;
    border-radius: 8px;
    height: 36px;
    text-align: center;
}
option{
    text-align: center;
}
input[type=submit]{
    height: 36;
    width: 50%;
    border: none;
    background-color: green;
    color: white;
    box-shadow: 0 0 0 black;
    margin-bottom: 48px;
}
input::placeholder{
    text-align: center;
}
input:focus{
    border: 2px solid black;
    border-radius: 8px;
}
.forgot-pass{
    width: 90%;
    padding: 24px 5%;
    text-align: center;  
}
